include ../include/topo.jade
    script(src="../fluxo/fluxo_lista.js")
    body(ng-app="Application")

        div(id="wrapper")

            include ../include/menu.jade

            div(id="page-wrapper")
                div(class="row")
                    div(class="col-lg-12")
                        | &nbsp;



                div(class="row")
                    div(class="col-lg-12")
                        div(class="panel panel-default")
                            div(class="panel-heading")
                                | Lista de Processos

                            div(class="panel-body" ng-controller="Controller")
                                ul(class="list-group")
                                    li(class="list-group-item" ng-repeat="arrDados in arrRegistros")
                                        a(href="#" ng-click="executarProcesso(arrDados.cd_processo)")
                                            | {{arrDados.ds_nome}}


        include ../include/layout_js.jade